﻿
@*<form action="/shared/ReportAnalytics" method="post" id="frmReportAnalytics" class="skip" target="_blank">
    <input type="hidden" name="uiParameters" value="" />
</form>

<form action="/shared/ExporttoExcel" method="post" id="frmExportExcel" class="skip">
    <input type="hidden" name="uiParameters" value="" />
</form>
<form action="/shared/ExporttoPDF" method="post" id="frmExportPdf" class="skip">
    <input type="hidden" name="uiParameters" value="" />
</form>
<form action="/shared/ExporttoCSV" method="post" id="frmExportCsv" class="skip">
    <input type="hidden" name="uiParameters" value="" />
</form>
<form action="/shared/GridReport" method="post" id="frmPrintGrid" class="skip">
    <input type="hidden" name="uiParameters" value="" />
</form>*@
<div class="row">
    <div class="col-md-12">

        @*<div class="modal-body clearfix">
                <div class="dvprimaryfilterBody-col" data-table="dvprimaryfilterBody">

                </div>
                <div class="" align="center" style="border:none;">
                    <button type="button" class="btn btn-flat btn-success" data-table="search" title="Search Record"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
                </div>
            </div>*@

        <div class="table-wrap-div dataTable-holder" data-scrolly="@Model">
            <div class="table-responsive">
                <div class="navbar-custom-menu pull-right" style="float:right;" id="navbar_custom_menu_div">
                    <ul class="nav navbar-nav custome-nav-header-btn">
                        <li class="dropdown messages-menu"><a href="javascript:void(0);" id="addnewbutton"> </a></li>
                    </ul>
                     @*<ul class="nav navbar-nav custome-nav-header-btn"><li class="dropdown messages-menu"><a href="javascript:void(0);" class="dropdown-toggle" id="printGrid" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-print"></i>&nbsp;Print</a></li></ul>*@
                    <ul class="nav navbar-nav">
                        <li class="dropdown messages-menu">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <i class="fa fa-gears"></i>&nbsp;Options
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">Options</li>
                                <li>
                                    <ul class="menu" style="max-height:400px;">
                                        <li>
                                            <a href="javascript:void(0);" data-table="togglefilter" style="display:none" data-placement="auto" data-original-title="Conditional Filters">
                                                <div class="pull-left">
                                                    <i class="fa fa-filter text-green"></i>
                                                </div>
                                                <h4>
                                                    Add Filter
                                                </h4>
                                                @*<p>Allows you to view specific record in.</p>*@
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" data-table="reset" style="display:none" data-placement="auto" data-original-title="Reset Conditional Filters">
                                                <div class="pull-left">
                                                    <i class="fa fa-filter text-red"></i>
                                                </div>
                                                <h4>
                                                    Remove Filter (Reset)
                                                </h4>
                                                @*<p>Will remove all filters.</p>*@
                                            </a>
                                        </li>
                                        @*<li>
            <a href="javascript:void(0);" id="excellExport">
                <div class="pull-left">
                    <i class="fa fa-file-excel text-green"></i>
                </div>
                <h4>
                    Excel Download
                </h4>
                <p>Click to download excel files</p>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" id="pdfExport">
                <div class="pull-left">
                    <i class="fa fa-file-pdf text-green"></i>
                </div>
                <h4>
                    PDF Download
                </h4>
                <p>Click to download PDF file. </p>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" id="csvExport">
                <div class="pull-left">
                    <i class="fa fa-file-text text-green"></i>
                </div>
                <h4>
                    CSV Download
                </h4>
                <p>Click to download CSV file. </p>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" id="analyticReport">
                <div class="pull-left">
                    <i class="fa fa-file-text text-green"></i>
                </div>
                <h4>
                    Data Analytics
                </h4>
                <p>Click to Analyze data</p>
            </a>
        </li>*@
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <table class="table table-hover table-header dataTable no-footer display responsive " data-table="grid">
                    <thead>
                    </thead>
                </table>
            </div>
        </div>

    </div>
</div>
<div class="modal data-filter-modal" tabindex="-1"  data-table="dvfilterBox">
    <div class="valign">
        <div>
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Advance Filter</h4>
                        <button type="button" class="close" aria-label="Close" data-table="close-filter"><span aria-hidden="true">&times;</span></button>

                    </div>
                    <div class="modal-body clearfix">
                        <div class="dvfilterBody-col" data-table="dvfilterBody">
                        </div>
                        <div class="" align="center" style="border:none;">
                            <button type="button" class="btn btn-flat btn-success" data-table="search" title="Search Record"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-lg" data-table="pdfsetting" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="exportPdfModeldiv" style="min-height:150px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="loading">Loading.........</h4>
            </div>
        </div>
    </div>
</div>

<div id="myModal1" class="modal  fade bs-example-modal-lg" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="myModalContent">
        </div>
    </div>
</div>

@section scripts{
  

}

