﻿@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model PlayDto
@using Aaina.Common;
@using Newtonsoft.Json;
@{
    Model.Emotion = Model.Emotion.HasValue ? (Model.Emotion == 0 ? 1 : Model.Emotion) : 1;
    int? gId = (int?)ViewBag.gid;
}

<script>
    var Emotion = '@Model.Emotion';
</script>

<link href="~/css/select2.min.css" rel="stylesheet" />

<div class="top-Rbox1">
    <div class="top-Ltext">
        <div class="overlap"></div>
        <a href="javascript:void(0);" class="naleftbtn"><span></span></a>
        <div class="top-Ltextli">
            <ul>
                @if (Model.Type == (int)PlayType.Feedback)
                {
                    <li>Add Feedback Play</li>
                }
                else
                {
                    <li>/Plays/Add Play</li>
                }
                <p>@(DateTime.Now.ToString("dd MMMM yy"))</p>
            </ul>
        </div>
    </div>
</div>

<div id="frm-add-edit-play">
    <form asp-action="addedit" asp-controller="play" asp-area="admin" asp-route-gid="@gId" method="post" autocomplete="off">
        <div id="validation-summary"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Type" />
        <div class="middlebox">
            <div class="tablediv tablediv1 tabledivbtn">
                <div class="stepbox">

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12">

                                        <div class="form-group">

                                            <div class="row">
                                                <div class="col-lg-6 col-sm-12">
                                                    <label><i class="fa fa-info-circle"></i> Game</label>
                                                    <select asp-for="GameId" class="form-control" asp-items="@(new SelectList(Model.GameList,"Id","Name"))" data-url="/admin/play/GetsubGameByGameId/">
                                                        <option value="">Select</option>
                                                    </select>
                                                    <span asp-validation-for="GameId" class="field-validation-error"></span>
                                                </div>

                                                <div class="col-lg-6 col-sm-12">
                                                    <label><i class="fa fa-info-circle"></i>Sub Game</label>
                                                    <select asp-for="SubGameId" class="form-control" asp-items="@(new SelectList(Model.SubGameList,"Id","Name"))">
                                                        <option value="">Select</option>
                                                    </select>
                                                    <span asp-validation-for="SubGameId" class="field-validation-error"></span>
                                                </div>


                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-6 col-sm-12">
                                                    <label><i class="fa fa-info-circle"></i> Play</label>
                                                    <input asp-for="Name" class="form-control mb15" type="text" placeholder="Play Name">
                                                    <span asp-validation-for="Name" class="field-validation-error"></span>
                                                </div>
                                                <div class="col-lg-6 col-sm-12">
                                                    <label><i class="fa fa-info-circle"></i>Parent</label>
                                                    <select asp-for="ParentId" class="form-control" asp-items="@(new SelectList(Model.ParentList,"Id","Name"))">
                                                        <option value="">Select</option>
                                                    </select>
                                                    <span asp-validation-for="ParentId" class="field-validation-error"></span>
                                                </div>


                                            </div>

                                        </div>

                                        <div class="form-group">

                                            <textarea asp-for="Description" class="form-control mb15"> </textarea>
                                            <span asp-validation-for="Description" class="field-validation-error"></span>
                                        </div>

                                        <div class="form-group">
                                            @if (Model.Type == (int)PlayType.Feedback)
                                            {
                                                <div class="row">
                                                    <div class="col-lg-6 col-sm-12">
                                                        <label><i class="fa fa-info-circle"></i>Accountable</label>
                                                        <select asp-for="AccountableId" class="form-control" asp-items="@(new SelectList(Model.AccountableList,"Id","Name"))">
                                                            <option value="">Select</option>
                                                        </select>
                                                        <span asp-validation-for="AccountableId" class="field-validation-error"></span>
                                                    </div>

                                                    <div class="col-lg-6 col-sm-12">
                                                        <label><i class="fa fa-info-circle"></i>Dependancy</label>
                                                        <select asp-for="DependancyId" class="form-control" asp-items="@(new SelectList(Model.AccountableList,"Id","Name"))">
                                                            <option value="">Select</option>
                                                        </select>
                                                        <span asp-validation-for="DependancyId" class="field-validation-error"></span>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <label><i class="fa fa-info-circle"></i>Accountable</label>
                                                <select asp-for="AccountableId" class="form-control" asp-items="@(new SelectList(Model.AccountableList,"Id","Name"))">
                                                    <option value="">Select</option>
                                                </select>
                                                <span asp-validation-for="AccountableId" class="field-validation-error"></span>
                                            }

                                        </div>

                                        <div class="form-group">

                                            <div class="row">
                                                <div class="col-lg-4 col-sm-12">
                                                    <label><i class="fa fa-info-circle"></i> Added On</label>
                                                    <input type="text" asp-for="AddedOn" class="form-control datepicker" />
                                                    <span asp-validation-for="AddedOn" class="field-validation-error"></span>
                                                </div>

                                                <div class="col-lg-4 col-sm-12">
                                                    <label><i class="fa fa-info-circle"></i> Start Date</label>
                                                    <input type="text" asp-for="StartDate" class="form-control" />
                                                    <span asp-validation-for="StartDate" class="field-validation-error"></span>
                                                </div>

                                                <div class="col-lg-4 col-sm-12">
                                                    <label><i class="fa fa-info-circle"></i> Deadline Date</label>
                                                    <input type="text" asp-for="DeadlineDate" class="form-control" />
                                                    <span asp-validation-for="DeadlineDate" class="field-validation-error"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-sm-12">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12">
                                        <div class="form-group">
                                            <label><i class="fa fa-info-circle"></i>Priority</label>
                                            <select asp-for="Priority" class="form-control" asp-items="@(new SelectList(Model.PriorityList,"Value","Text"))">
                                                <option value="">Select</option>
                                            </select>
                                            <span asp-validation-for="Priority" class="field-validation-error"></span>
                                        </div>

                                        <div class="form-group">
                                            <label><i class="fa fa-info-circle"></i>Status</label>
                                            <select asp-for="Status" class="form-control" asp-items="@(new SelectList(Model.StatusList,"Value","Text"))">
                                                <option value="">Select</option>
                                            </select>
                                            <span asp-validation-for="Status" class="field-validation-error"></span>
                                        </div>
                                        @if (Model.Type == (int)PlayType.Feedback)
                                        {
                                            <div class="form-group">
                                                <label><i class="fa fa-info-circle"></i>Feedback Type</label>
                                                <select asp-for="FeedbackType" class="form-control" asp-items="@(new SelectList(Model.FeedbackList,"Value","Text"))" data-msg-required="*required" data-rule-required="true">
                                                    <option value="">Select</option>
                                                </select>
                                                <span asp-validation-for="FeedbackType" class="field-validation-error"></span>
                                            </div>
                                        }

                                        <div class="form-group">
                                            <label><i class="fa fa-info-circle"></i>Emotion</label>
                                            <div class="row wrap_input" style="margin-top: 10px;">
                                                <div class="col-md-12">
                                                    <div class="range-wrap">
                                                        <div class="range-value" id="view_emotion">
                                                            <span><img src="/img/emo-@(Model.Emotion).png" class="imgemoji"></span>
                                                        </div>
                                                        <input type="range" class="range_change valid" asp-for="Emotion" min="1" max="10" step="1">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label><i class="fa fa-info-circle"></i>Person Involved</label>
                                            <select asp-for="PersonInvolved" class="form-control select2" multiple asp-items="@(new SelectList(Model.AccountableList,"Id","Name"))">
                                            </select>
                                            <span asp-validation-for="PersonInvolved" class="field-validation-error"></span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="top-Rbox1 botdiv">
                <div class="top-Rbtn">
                    <a href="/admin/play?v=today&gid=@gId" class="btn btn-secondary backBtn">Back</a>
                    <button class="btn btn-primary btn-submit" id="btn-submit" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>


@section scripts{
    <script src="~/js/select2.min.js"></script>
    <script src="~/js/Customejs/Play/PlayAddEdit.js" asp-append-version="true"></script>
}
