﻿@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model PlayMainDto
@using Aaina.Common;
@using Newtonsoft.Json;
@{
    ViewData["Title"] = "Index";
    string iview = Model.ViewType;
    int? gId = Model.GameId;
    var StatusList = Enum.GetValues(typeof(StatusType)).Cast<StatusType>().Select(c => new SelectListDto() { Text = c.GetEnumDescription(), Value = (int)c }).ToList();
    List<SelectedItemDto> accountableList = (List<SelectedItemDto>)Model.AccountableList;
}
<script>
    function set(value) {
        return value;
    }
    var accountableListArr = '@accountableList' == null ? "" : set(@Html.Raw(JsonConvert.SerializeObject(accountableList)));

</script>

<link href="~/css/Stepwizard.css" rel="stylesheet" />
<div class="top-Rbox1">
    <div class="top-Ltext">
        <div class="overlap"></div>
        <a href="javascript:void(0);" class="naleftbtn"><span></span></a>
        <div class="top-Ltextli">
            <ul>
                <li>
                    Status & Plan
                </li>

                <p>@(DateTime.Now.ToString("dd MMMM yy"))</p>
            </ul>
        </div>
    </div>
    <div class="top-Rbtn">
        @{
            int? gameId = null;
        }
        @if (!Model.GameId.HasValue && Model.GameList.Any())
        {
            gameId = int.Parse(Model.GameList.FirstOrDefault().Id);
        }
        <a href="/admin/play?v=@iview&gid=@gameId" class="btn btn btn-primary m0" style="margin-right:10px">Game Plays</a>
        <a href="/admin/play?v=@iview" class="btn btn btn-primary m0">My Plays</a>
        @if (iview == "today")
        {
            <div class="dropdown">
                <button class="btn btn btn-primary dropdown-toggle add" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Add <i class="fa fa-caret-down"></i> </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/admin/play/AddEdit?t=1&gid=@gId">Action Plays</a>
                    <a class="dropdown-item" href="/admin/play/AddEdit?t=2&gid=@gId">Feedback Plays</a>
                </div>
            </div>
        }
        else
        {
            <div class="dropdown">
                <button class="btn btn btn-primary dropdown-toggle add" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Add <i class="fa fa-caret-down"></i> </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/admin/play/AddEdit?t=1&gid=@gId">Action Plays</a>
                    <a class="dropdown-item" href="/admin/play/AddEdit?t=2&gid=@gId">Feedback Plays</a>
                    <a class="dropdown-item" href="javascript:void(0);" data-url="/admin/play/MoveToday" id="btn_add_today">Add to Today's Plan</a>
                </div>
            </div>

        }

        @if (Model.GameId.HasValue)
        {
            <select class="form-control gameselect" data-url="/admin/play?v=@iview&gid=">
                @foreach (var st in Model.GameList)
                {
                    if (Model.GameId == int.Parse(st.Id))
                    {
                        <option value="@st.Id" selected>@st.Name</option>
                    }
                    else
                    {
                        <option value="@st.Id">@st.Name</option>
                    }

                }

            </select>
        }
    </div>
</div>

<div class="tablediv tablediv1 tabledivbtn">
    <div class="stepbox">
        <div class="responsive-tabs-container accordion-xs accordion-sm">
            <ul class="nav nav-tabs responsive-tabs">
                <li class="@(iview=="today"?"active":"")"><a href="@(iview=="today"?"javascript:void(0);":"/admin/play?v=today&gid="+gId)"><span>1</span> Today's Plan & Status </a></li>
                <li class="@(iview=="action"?"active":"")"><a href="@(iview=="action"?"javascript:void(0);":"/admin/play?v=action&gid="+gId)"><span>2</span> Action Plays</a></li>
                <li class="@(iview=="feedback"?"active":"")"><a href="@(iview=="feedback"?"javascript:void(0);":"/admin/play?v=feedback&gid="+gId)"><span>2</span> Feedback Plays</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="step1">
                                    <div class="dt-buttons">

                                        @*<button class="dt-button buttons-excel buttons-html5" data-id="div_table" type="button"><span>Excel</span></button>*@
                                        <button class="dt-button buttons-pdf buttons-html5" data-id="div_table" type="button"><span>PDF</span></button>
                                        <button class="dt-button buttons-print" type="button" data-id="div_table"><span>Print</span></button>
                                        <a href="/Common/ShareUsers/?popupurl=/admin/play/SharePlay/?id=@CurrentUser.CompanyId&gid=@gId&v=@iview" class="btn btn btn-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#modal-share-users">Share</a>
                                        @Html.Partial("_Modal", new Modal { ID = "modal-share-users", AreaLabeledId = "modal-share-users-label", Size = ModalSize.Large })
                                    </div>

                                    <table class="table" id="tbl_filter">
                                        <thead>
                                            <tr>
                                                @if (iview != "today")
                                                {
                                                    <th scope="col">
                                                        <input type="checkbox" class="all_action_check" />
                                                    </th>
                                                }
                                                <th scope="col">Play Id</th>
                                                <th scope="col">Game</th>
                                                <th scope="col">Sub Game</th>
                                                <th scope="col">Play</th>
                                                <th scope="col">Description</th>
                                                <th scope="col">Person Involved</th>
                                                <th scope="col">Accountable Persion</th>
                                                @if (iview == "feedback")
                                                {
                                                    <th scope="col">Dependancy</th>
                                                }
                                                <th scope="col">Priority</th>
                                                <th scope="col">
                                                    Realtime
                                                    Status
                                                </th>
                                                <th scope="col">
                                                    Planned
                                                    Start
                                                </th>
                                                <th scope="col">
                                                    Deadline
                                                </th>
                                                <th scope="col">
                                                    Actual
                                                    Start
                                                </th>

                                                <th scope="col">Actual End</th>
                                                <th scope="col">Emotion</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Result.Any())
                                            {
                                                int index = 1;
                                                foreach (var item in Model.Result)
                                                {
                                                    <tr>
                                                        @if (iview != "today")
                                                        {
                                                            <td>
                                                                <input type="checkbox" class="action_check" value="@item.Id" />
                                                            </td>
                                                        }
                                                        <td>
                                                            @item.Id
                                                        </td>
                                                        <td>
                                                            @item.Game
                                                        </td>
                                                        <td>
                                                            @item.SubGame
                                                        </td>
                                                        <td>
                                                            @item.Name
                                                            @if (!item.ParentId.HasValue)
                                                            {
                                                            <a data-toggle='collapse' data-parent='accordion' href='javascript:void(0)' id='@item.Id'><span class='fa fa-plus-square mtx'></span> </a>
                                                            }
                                                        </td>
                                                        <td>
                                                            @item.Description
                                                        </td>
                                                        <td>@item.PersonInvolvedStr</td>
                                                        <td>
                                                            @item.Accountable
                                                        </td>
                                                        @if (iview == "feedback")
                                                        {
                                                            <td>@item.Dependancy</td>
                                                        }
                                                        <td>@(((PriorityType)item.Priority).GetEnumDescription())</td>
                                                        <td>
                                                            @if (iview == "today")
                                                            {
                                                                <select class="form-control action_play_status"
                                                                        data-id="@item.Id" data-accountable="@item.Accountable"
                                                                        data-accountableid="@item.AccountableId" data-text="@(((StatusType)item.Status).GetEnumDescription())">
                                                                    @foreach (var st in StatusList)
                                                                    {
                                                                        if (st.Value == item.Status.Value)
                                                                        {
                                                                            <option value="@st.Value" selected>@st.Text</option>
                                                                        }
                                                                        else
                                                                        {
                                                                            <option value="@st.Value">@st.Text</option>
                                                                        }

                                                                    }

                                                                </select>
                                                            }
                                                            else
                                                            {
                                                                @(((StatusType)item.Status).GetEnumDescription())
                                                            }

                                                        </td>
                                                        <td>
                                                            @(item.StartDate.HasValue?item.StartDate.Value.ToString("dd/MM/yyyy"):"")

                                                        </td>
                                                        <td>
                                                            @(item.DeadlineDate.HasValue?item.DeadlineDate.Value.ToString("dd/MM/yyyy"):"")

                                                        </td>
                                                        <td>
                                                            @(item.ActualStartDate.HasValue?item.ActualStartDate.Value.ToString("dd/MM/yyyy"):"")

                                                        </td>
                                                        <td>
                                                            @(item.ActualEndDate.HasValue?item.ActualEndDate.Value.ToString("dd/MM/yyyy"):"")

                                                        </td>
                                                        <td>
                                                            <img src="/img/emo-@(item.Emotion).png" class="imgemoji" />
                                                        </td>
                                                        <td>
                                                            <a href="/admin/play/AddEdit/@item.Id?gid=@gId" class="edit"><i class="fa fa-pencil-square-o mtx"></i></a>
                                                            <a href="/admin/play/Delete/@item.Id?gid=@gId" class="delete" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#modal-action-delete-play"><i class="fa fa-trash-o mtx"></i></a>
                                                        </td>
                                                    </tr>
                                                    index++;
                                                    foreach (var child in item.ChildList)
                                                    {
                                                        <tr class='@child.ParentId' style="display:none;">
                                                            @if (iview != "today")
                                                            {
                                                                <td>
                                                                    <input type="checkbox" class="action_check" value="@child.Id" />
                                                                </td>
                                                            }
                                                            <td>
                                                                @child.Id
                                                            </td>
                                                            <td>
                                                                @child.Game
                                                            </td>
                                                            <td>
                                                                @child.SubGame
                                                            </td>
                                                            <td>
                                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @child.Name
                                                            </td>
                                                            <td>
                                                                @child.Description
                                                            </td>
                                                            <td>@child.PersonInvolvedStr</td>
                                                            <td>
                                                                @child.Accountable
                                                            </td>
                                                            @if (iview == "feedback")
                                                            {
                                                                <td>@child.Dependancy</td>
                                                            }
                                                            <td>@(((PriorityType)child.Priority).GetEnumDescription())</td>
                                                            <td>
                                                                @if (iview == "today")
                                                                {
                                                                    <select class="form-control action_play_status"
                                                                            data-id="@child.Id" data-accountable="@child.Accountable"
                                                                            data-accountableid="@child.AccountableId" data-text="@(((StatusType)child.Status).GetEnumDescription())">
                                                                        @foreach (var st in StatusList)
                                                                        {
                                                                            if (st.Value == item.Status.Value)
                                                                            {
                                                                                <option value="@st.Value" selected>@st.Text</option>
                                                                            }
                                                                            else
                                                                            {
                                                                                <option value="@st.Value">@st.Text</option>
                                                                            }

                                                                        }

                                                                    </select>
                                                                }
                                                                else
                                                                {
                                                                    @(((StatusType)child.Status).GetEnumDescription())
                                                                }

                                                            </td>
                                                            <td>
                                                                @(child.StartDate.HasValue?item.StartDate.Value.ToString("dd/MM/yyyy"):"")

                                                            </td>
                                                            <td>
                                                                @(child.DeadlineDate.HasValue?item.DeadlineDate.Value.ToString("dd/MM/yyyy"):"")

                                                            </td>
                                                            <td>
                                                                @(child.ActualStartDate.HasValue?item.ActualStartDate.Value.ToString("dd/MM/yyyy"):"")

                                                            </td>
                                                            <td>
                                                                @(child.ActualEndDate.HasValue?item.ActualEndDate.Value.ToString("dd/MM/yyyy"):"")

                                                            </td>
                                                            <td>
                                                                <img src="/img/emo-@(child.Emotion).png" class="imgemoji" />
                                                            </td>
                                                            <td>
                                                                <a href="/admin/play/AddEdit/@child.Id?gid=@gId"><i class="fa fa-pencil-square-o mtx"></i></a>
                                                                <a href="/admin/play/Delete/@child.Id?gid=@gId" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#modal-action-delete-play"><i class="fa fa-trash-o mtx"></i></a>
                                                            </td>
                                                        </tr>
                                                        index++;
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    @if (iview != "today")
                                                    {
                                                        <td colspan="16">Record not found</td>
                                                    }
                                                    else
                                                    {
                                                        <td colspan="15">Record not found</td>
                                                    }

                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                    <div id="div_table" style="display:none">
                                        <style>
                                            .tablediv .table {
                                                border: 1px solid #efefef;
                                                background: #fff;
                                            }

                                            .table {
                                                width: 100%;
                                                max-width: 100%;
                                                margin-bottom: 20px;
                                            }

                                            table {
                                                border-collapse: collapse;
                                                border-spacing: 0;
                                            }

                                            tablediv .table tr th {
                                                background: #e5e5e5;
                                                border-right: 1px solid #efefef;
                                                color: #000000;
                                            }

                                            .tablediv .table tr th {
                                                font-size: 15px;
                                                text-align: center;
                                                font-weight: 500;
                                            }

                                            .table > thead > tr > th {
                                                vertical-align: bottom;
                                                border-bottom: 2px solid #ddd;
                                            }

                                            .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
                                                padding: 8px;
                                                line-height: 1.42857143;
                                                vertical-align: top;
                                                border-top: 1px solid #ddd;
                                            }
                                        </style>
                                        <table class="table">
                                            <thead>
                                                <tr>

                                                    <th scope="col">Play Id</th>
                                                    <th scope="col">Game</th>
                                                    <th scope="col">Sub Game</th>
                                                    <th scope="col">Play</th>
                                                    <th scope="col">Description</th>
                                                    <th scope="col">Accountable Persion</th>
                                                    @if (iview == "feedback")
                                                    {
                                                        <th scope="col">Dependancy</th>
                                                    }
                                                    <th scope="col">Priority</th>
                                                    <th scope="col">
                                                        Realtime
                                                        Status
                                                    </th>
                                                    <th scope="col">
                                                        Planned
                                                        Start
                                                    </th>
                                                    <th scope="col">
                                                        Deadline
                                                    </th>
                                                    <th scope="col">
                                                        Actual
                                                        Start
                                                    </th>

                                                    <th scope="col">Actual End</th>
                                                    <th scope="col">Emotion</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.Result.Any())
                                                {
                                                    int index = 1;
                                                    foreach (var item in Model.Result)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @item.Id
                                                            </td>
                                                            <td>
                                                                @item.Game
                                                            </td>
                                                            <td>
                                                                @item.SubGame
                                                            </td>
                                                            <td>
                                                                @item.Name
                                                            </td>
                                                            <td>
                                                                @item.Description
                                                            </td>
                                                            <td>
                                                                @item.Accountable
                                                            </td>
                                                            @if (iview == "feedback")
                                                            {
                                                                <td>@item.Dependancy</td>
                                                            }
                                                            <td>@(((PriorityType)item.Priority).GetEnumDescription())</td>
                                                            <td>
                                                                @(((StatusType)item.Status).GetEnumDescription())

                                                            </td>
                                                            <td>
                                                                @(item.StartDate.HasValue?item.StartDate.Value.ToString("dd/MM/yyyy"):"")

                                                            </td>
                                                            <td>
                                                                @(item.DeadlineDate.HasValue?item.DeadlineDate.Value.ToString("dd/MM/yyyy"):"")

                                                            </td>
                                                            <td>
                                                                @(item.ActualStartDate.HasValue?item.ActualStartDate.Value.ToString("dd/MM/yyyy"):"")

                                                            </td>
                                                            <td>
                                                                @(item.ActualEndDate.HasValue?item.ActualEndDate.Value.ToString("dd/MM/yyyy"):"")

                                                            </td>
                                                            <td>
                                                                <img src="@(SiteKeys.Domain)/DYF/@CurrentUser.CompanyId/EmojiImages/@(item.Emotion)-mini.png" class="imgemoji" />
                                                            </td>

                                                        </tr>
                                                        index++;
                                                        foreach (var child in item.ChildList)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    @child.Id
                                                                </td>
                                                                <td>
                                                                    @child.Game
                                                                </td>
                                                                <td>
                                                                    @child.SubGame
                                                                </td>
                                                                <td>
                                                                    @child.Name
                                                                </td>
                                                                <td>
                                                                    @child.Description
                                                                </td>
                                                                <td>
                                                                    @child.Accountable
                                                                </td>
                                                                @if (iview == "feedback")
                                                                {
                                                                    <td>@child.Dependancy</td>
                                                                }
                                                                <td>@(((PriorityType)child.Priority).GetEnumDescription())</td>
                                                                <td>
                                                                    @(((StatusType)child.Status).GetEnumDescription())

                                                                </td>
                                                                <td>
                                                                    @(child.StartDate.HasValue? child.StartDate.Value.ToString("dd/MM/yyyy"):"")

                                                                </td>
                                                                <td>
                                                                    @(child.DeadlineDate.HasValue? child.DeadlineDate.Value.ToString("dd/MM/yyyy"):"")

                                                                </td>
                                                                <td>
                                                                    @(child.ActualStartDate.HasValue? child.ActualStartDate.Value.ToString("dd/MM/yyyy"):"")

                                                                </td>
                                                                <td>
                                                                    @(child.ActualEndDate.HasValue? child.ActualEndDate.Value.ToString("dd/MM/yyyy"):"")

                                                                </td>
                                                                <td>
                                                                    <img src="@(SiteKeys.Domain)/DYF/@CurrentUser.CompanyId/EmojiImages/@(item.Emotion)-mini.png" class="imgemoji" />
                                                                </td>

                                                            </tr>
                                                        }

                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        @if (iview != "today")
                                                        {
                                                            <td colspan="15">Record not found</td>
                                                        }
                                                        else
                                                        {
                                                            <td colspan="14">Record not found</td>
                                                        }

                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="modal-add-edit-status-label" role="dialog" tabindex="-1" id="modal-add-edit-status" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="box">

                <div class="modal-header">
                    <h4 class="modal-title pull-left" id="sub_title"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>

                <div class="modal-body box-body">
                    <div id="validation-summary"></div>
                    <input type="hidden" id="playid" value="">
                    <input type="hidden" id="playstatus" value="">
                    <input type="hidden" id="accountableid" value="">

                    <div class="row">
                        <div class="col-lg-12 col-sm-12">

                            <div class="form-group">
                                <label><i class="fa fa-info-circle"></i> Comments</label>
                                <textarea id="comments_status" class="form-control mb15"> </textarea>
                            </div>

                            <div class="form-group" id="div_delegate">
                                <label id="delegate_label"><i class="fa fa-info-circle"></i>Delegate from  to</label>
                                <select id="delegate_status" class="form-control" asp-items="@(new SelectList(accountableList,"Id","Name"))">
                                    <option value="">Select</option>
                                </select>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal-footer justify-content-between">
                    <button class="btn btn-success" id="btnsubmit" type="button" data-url="/admin/play/UpdateStatus"> Submit </button>
                    <button data-dismiss="modal" id="btn-cancel" class="btn btn-default" type="button">Cancel</button>
                </div>


            </div>
        </div>
    </div>
</div>
@Html.Partial("_Modal", new Modal { ID = "modal-action-delete-play", AreaLabeledId = "modal-action-delete-play-label", Size = ModalSize.Small })
@section scripts{
    <script>
        $(document).ready(function () {
            var posturl = '/common/GetPagePermission/'
            $.ajax({
                type: "GET",
                url: posturl,
                data: {
                    "controllerName": "play",
                    "actionName": "Index"
                },
                success: function (r) {
                    var permission = JSON.parse(r.data);
                    if (permission.CanBeEdit == false) {
                        $(".edit").css("display", "none")
                    } else {
                        $(".edit").css("display", "inline-block")
                    }
                    if (permission.CanbeDelete == false) {
                        $(".delete").css("display", "none")
                    } else {
                        $(".delete").css("display", "inline-block")
                    }
                    if (permission.CanbeAdd == false) {
                        $(".add").css("display", "none")
                    } else {
                        $(".add").css("display", "inline-block")
                    }
                }
            });
        });
    </script>

    <script src="~/js/Customejs/Play/ActionPlay.js" asp-append-version="true"></script>
<script>
    $(document).ready(function () {

        $('a[data-toggle="collapse"]').on('click', function () {
            var objectID = '.' + $(this).attr('id');

            if ($(objectID).hasClass('in')) {
                $(objectID).removeClass('in');
                $(this).html('<span class="fa fa-plus-square mtx" ></span>');
                $(objectID).hide();
            }
            else {
                $(objectID).addClass('in');
                $(this).html('<span class="fa fa-minus-circle mtx" ></span>');
                $(objectID).show();
            }
        });
    })
</script>
}