﻿@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model List<LookDto>
@using Aaina.Common;
@{
    ViewData["Title"] = "Index";
    int tenant = Convert.ToInt32(HttpContextAccessor.HttpContext.Request.RouteValues["tenant"]);
}


<div class="top-Rbox1">
    <div class="top-Ltext">
        <div class="overlap"></div>
        <a href="javascript:void(0);" class="naleftbtn"><span></span></a>
        <div class="top-Ltextli">
            <ul>
                <li>Schedule Emotions Library</li>
            </ul>
            <p>@DateTime.Now.ToString("dd MMMM") '@DateTime.Now.Year</p>
        </div>
    </div>
    <div class="top-Rbtn">
        @if (CurrentMenuPermission.IsAdd)
        {
        <a href="/@tenant/look/Add" class="btn btn btn-primary add"><i class="fa fa-plus"></i> Add New</a>
        }
        <a href="/@tenant/Common/ShareUsers/?popupurl=/@tenant/look/ShareLook/?id=@CurrentUser.CompanyId" class="btn btn btn-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#modal-share-users">Share</a>
        @Html.Partial("_Modal", new Modal { ID = "modal-share-users", AreaLabeledId = "modal-share-users-label", Size = ModalSize.Large })

    </div>
</div>

<div class="middlebox">
    <div class="tablediv">
        <div class='table-cont' id='table-cont'>
            <table class="table table-striped" id="tbl_look">
                <thead>
                    <tr>
                        <th scope="col">Sr. No</th>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Frequency</th>
                        <th scope="col">Creted by</th>
                        <th scope="col">Creted On</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any())
                    {
                        int i = 1;
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @i
                                </td>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td>@(item.IsActive?"Active":"In Active")</td>
                                <td>
                                    @(item.IsSchedule && item.LookScheduler!=null && item.LookScheduler.Frequency!=null ? (item.LookScheduler.Type==(int)ScheduleType.Recurring?((ScheduleFrequency)item.LookScheduler.Frequency).ToString():"One time"):"")
                                </td>
                                <td>@CurrentUser.Name</td>
                                <td>@(item.CreatedDate.HasValue?item.CreatedDate.Value.ToString("dd/MM/yyyy"):"")</td>
                                <td>
                                    @if (CurrentMenuPermission.IsEdit)
                                    {
                                    <a href="/@tenant/look/Edit/@item.Id" class="edit"><i class="fa fa-pencil-square-o mtx"></i></a>
                                    <a href="/@tenant/look/Edit?copyId=@item.Id"><i class="fa fa-clone mtx"></i></a>
                                    }
                                </td>
                            </tr>
                            i++;

                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">Look not found</td>
                        </tr>
                    }

                </tbody>

            </table>
        </div>
    </div>
    <div id="div_table" style="display:none">
        <style>
            .tablediv .table {
                border: 1px solid #efefef;
                background: #fff;
            }

            .table {
                width: 100%;
                max-width: 100%;
                margin-bottom: 20px;
            }

            table {
                border-collapse: collapse;
                border-spacing: 0;
            }

            tablediv .table tr th {
                background: #e5e5e5;
                border-right: 1px solid #efefef;
                color: #000000;
            }

            .tablediv .table tr th {
                font-size: 15px;
                text-align: center;
                font-weight: 500;
            }

            .table > thead > tr > th {
                vertical-align: bottom;
                border-bottom: 2px solid #ddd;
            }

            .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
                padding: 8px;
                line-height: 1.42857143;
                vertical-align: top;
                border-top: 1px solid #ddd;
            }
        </style>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Frequency</th>
                    <th scope="col">Creted by</th>
                    <th scope="col">Creted On</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@(item.IsActive?"Active":"In Active")</td>
                            <td>@(item.IsSchedule && item.LookScheduler != null && item.LookScheduler.Frequency != null ?  (item.LookScheduler.Type==(int)ScheduleType.Recurring?((ScheduleFrequency)item.LookScheduler.Frequency).ToString():"One time"):"")</td>
                            <td>@CurrentUser.Name</td>
                            <td>@(item.CreatedDate.HasValue?item.CreatedDate.Value.ToString("dd/MM/yyyy"):"")</td>
                            <td>
                              
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4">Look not found</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>




@section scripts{
    <script type="text/javascript">
       
        $(function () {
            Global.DataTable('#tbl_look');
        });
    </script>

}