﻿
@{
    ViewData["Title"] = "Index";
}

@model List<ReportDto>
@using Aaina.Common;
@{
    ViewData["Title"] = "Index";
    int tenant = Convert.ToInt32(HttpContextAccessor.HttpContext.Request.RouteValues["tenant"]);
}


<div class="top-Rbox1">
    <div class="top-Ltext">
        <div class="overlap"></div>
        <a href="javascript:void(0);" class="naleftbtn"><span></span></a>
        <div class="top-Ltextli">
            <ul>
                <li>Report</li>
                <li>/</li>
                <li>List</li>
            </ul>

        </div>
    </div>
    <div class="top-Rbtn">
        @if (CurrentMenuPermission.IsAdd)
        {
            <a href="/@tenant/report/Add" class="btn btn btn-primary"><i class="fa fa-plus"></i> Add New</a>
        }
        <a href="/@tenant/Common/ShareUsers/?popupurl=/@tenant/report/ShareReport/?id=@CurrentUser.CompanyId" class="btn btn btn-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#modal-share-users">Share</a>
        @Html.Partial("_Modal", new Modal { ID = "modal-share-users", AreaLabeledId = "modal-share-users-label", Size = ModalSize.Large })

    </div>
</div>

<div class="middlebox">
    <div class="tablediv">
        <div class='table-cont' id='table-cont'>
            <table class="table table-striped" id="tbl_report">
                <thead>
                    <tr>
                        <th scope="col">S.No</th>
                        <th scope="col">Report Name</th>
                        <th scope="col">Report Type</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any())
                    {
                        int i = 1;
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @i
                                </td>
                                <td>@item.Name</td>
                                <td>@(((SessionType)item.TypeId).ToString())</td>
                                <td>


                                    @if (CurrentUser.RoleId == (int)UserType.User && item.CreatedBy == CurrentUser.UserId)
                                    {
                                        if (CurrentMenuPermission.IsEdit)
                                        {
                                            <a href="/@tenant/Report/Edit/@item.Id?parentId=@item.GameId"><i class="fa fa-pencil-square-o mtx"></i></a>
                                            <a href="/@tenant/Report/Edit?copyId=@item.Id&parentId=@item.GameId"><i class="fa fa-clone mtx"></i></a>
                                        }

                                        if (CurrentMenuPermission.IsDelete)
                                        {
                                            <a href="/@tenant/Report/Delete/@item.Id" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#modal-action-delete-report"><i class="fa fa-trash-o mtx"></i></a>
                                        }

                                    }



                                    @if (CurrentUser.RoleId == (int)UserType.User && item.IsUpdateGive)
                                    {

                                        <a href="/@tenant/Report/GiveUpdate?reportId=@item.Id">
                                            @(item.IsCreator?"Edit":"Approve")
                                        </a>
                                    }
                                    else if (CurrentUser.RoleId == (int)UserType.User && item.IsCreator)
                                    {

                                        <a href="/@tenant/Report/Give/@item.Id">Give</a>
                                    }


                                    @if (item.IsView)
                                    {
                                        if (CurrentUser.RoleId == (int)UserType.User)
                                        {
                                            <a href="/@tenant/Report/View/@item.Id">View</a>
                                        }
                                        else
                                        {
                                            <a href="/@tenant/Report/ResultRange/@item.Id">Result</a>
                                        }
                                    }

                                    @if (CurrentUser.RoleId == (int)UserType.Admin)
                                    {
                                        <a href="/@tenant/Report/Edit/@item.Id"><i class="fa fa-pencil-square-o mtx"></i></a>
                                        <a href="/@tenant/Report/Edit?copyId=@item.Id"><i class="fa fa-clone mtx"></i></a>

                                        <a href="/@tenant/Report/Delete/@item.Id" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#modal-action-delete-report"><i class="fa fa-trash-o mtx"></i></a>


                                    }


                                </td>
                            </tr>
                            i++;

                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">Report not found</td>
                        </tr>
                    }

                </tbody>

            </table>
        </div>
    </div>


</div>


@Html.Partial("_Modal", new Modal { ID = "modal-action-delete-report", AreaLabeledId = "modal-action-delete-report-label", Size = ModalSize.Small })

@section scripts{
    <script>
        $(function () {
            Global.DataTable('#tbl_report');

            Global.ModelHelper($("#modal-action-delete-report"), function () {
                form = new Global.FormHelper($("#modal-action-delete-report").find("form"), {
                    updateTargetId: "validation-summary",
                    refreshGrid: false,
                    modelId: 'modal-action-delete-report'
                }, null, null);

            }, null);

        });
    </script>

}

