﻿@charset "utf-8";
/* CSS Document */

body {
	font-family: 'Open Sans', sans-serif;
	background: #fff;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin: 0px;
	padding: 0px;
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
fieldset, img {
	border: 0
}
ol, ul {
	list-style: none
}
sub, sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline
}
sup {
	top: -0.5em
}
sub {
	bottom: -0.25em
}
* {
	outline: none !important;
}
a:active, a:focus, a:hover, input[type="image"], select:focus, input, input[type="button"]:focus, :focus {
	outline: 0;
	text-decoration: none;
	transition: all 0.5s ease-in-out;
}
.clearfix {
*zoom:1
}
.clearfix:before, .clearfix:after {
	display: block;
	content: "";
	line-height: 0
}
.clearfix:after {
	clear: both
}
.clear {
	clear: both
}
.btn {
	outline: 0px;
}
.lists {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
img {
	max-width: 100%;
}
/*login page start*/
.login-page {
	height: 100vh;
	width: 100%;
	display: grid;
	justify-content: center;
	align-items: center;
}
.login-box {
	display: block;
	margin: auto;
	max-width: 400px;
	width: 95%;
	padding: 50px 0;
}
.login-logo {
	width: 250px;
	height: 250px;
	margin: auto;
	display: grid;
	border: 1px solid #000;
	border-radius: 100%;
	justify-content: center;
	align-items: center;
	position: relative;
}
.login-logo::before {
	content: "";
	position: absolute;
	left: -17px;
	top: -16px;
	width: 280px;
	height: 280px;
	border: 2px solid #000;
	border-radius: 100%;
}
.login-box form {
	margin-top: 45px;
	display: inline-block;
	width: 100%;
}
.login-box form .form-control {
	border-radius: 50px;
	height: 45px;
	padding: 5px 15px;
	font-size: 16px;
	border: 1px solid #6e6e6e;
}
.forgot {
	font-weight: normal;
	font-size: 14px;
	padding-left: 15px;
}
.btnlogin {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 21px;
}
.btnlogin input {
	text-transform: uppercase;
	font-size: 16px;
}
/*page 2*/

.mainwapper {
	background: url(../images/bg.jpg) center top no-repeat;
	background-size: cover;
	padding: 50px 50px 0 50px;
	min-height: 100vh;
	height: 100%;
}
.top-boxL {
	width: 200px;
	padding: 15px;
	height: calc(100vh - 160px);
	border-radius: 20px 0px 0 20px;
	float: left;
	margin-bottom: 25px;
	box-shadow: 1px 4px 5px #878787;
}
.nav-list li a {
	text-decoration: none;
	display: inline-block;
	padding: 0;
	cursor: pointer;
	color: #9d9d9d;
	margin: 0 0 0 22px;
}
.top-boxL nav ul li .caret {
	position: absolute;
	left: 0;
	top: 10px;
	z-index: 9;
	cursor: pointer;
	transition: 0.5s;
}
.nav > li ul li {
	margin: 0 0 9px 0;
}
.nav > li ul li ul li {
	margin: 0;
}
.nav > li ul li i {
	margin: 0 12px 0 0;
	cursor: pointer;
	color: #a2a2a2;
}
.nav-list > li ul {
	margin-top: 9px;
}
.nav-list > li ul li ul {
	margin-top: 0;
}
.nav-list > li > a {
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
}
.nav > li ul li a {
	font-weight: normal;
	padding: 0 !important;
	margin-bottom: 11px;
	text-decoration: none;
	font-size: 16px;
}
.top-logo {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
}
.top-logo h3 {
	text-transform: uppercase;
	font-size: 17px;
	margin: 10px 0 10px 0;
}
.top-boxL nav {
	overflow-x: auto;
	height: calc(100vh - 310px);
}
.top-boxL .nav.nav-list li a .ca-icon {
	background: #a2a2a2;
	height: 25px;
	width: 25px;
	border-radius: 5px;
	float: left;
	margin: -1px 12px 0 0;
	position: relative;
}
.top-boxL .nav.nav-list li a .ca-icon::before {
	content: "";
	position: absolute;
	left: 45%;
	top: 6px;
	height: 12px;
	width: 3px;
	background: #fff;
}
.top-boxL .nav.nav-list li a .ca-icon::after {
	content: "";
	position: absolute;
	left: 26%;
	top: 10px;
	height: 3px;
	width: 12px;
	background: #fff;
}
.nav > li {
	margin-bottom: 20px;
}
.top-boxR {
	width: calc(100% - 215px);
	padding: 30px;
	height: calc(100vh - 160px);
	border-radius: 0px 20px 20px 0px;
	float: right;
	margin-bottom: 25px;
	box-shadow: 1px 4px 5px #878787;
}
.top-logo img {
	width: 70px;
}
.top-Ltext {
	float: left;
	display: inline-flex;
	align-items: center;
}
.top-Rbox1 .top-Rbtn {
	float: right;
}
.top-Rbox1 .top-Rbtn .dropdown {
	float: left;
	margin: 0 0 0 13px;
}
.top-Rbox1 .top-Rbtn a {
	float: left;
	margin: 0 0px 0 13px;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 13px;
}
.top-Rbox1 .top-Rbtn .dropdown.open .dropdown-menu {
	right: 0;
	left: auto;
}
.top-Rbox1 .top-Rbtn .dropdown.open .dropdown-menu {
	right: 0;
	left: auto;
	padding: 0;
}
.top-Rbox1 .top-Rbtn .dropdown.open .dropdown-menu a {
	width: 100%;
	padding: 7px 15px;
	border-bottom: 1px solid #eee;
	color: #222;
	text-align: center;
	margin: 0;
}
.top-Ltext h2 {
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 5px;
}
.top-Ltext p {
	font-size: 16px;
}
.top-Ltextli {
	font-size: 19px;
	display: inline-block;
}
.naleftbtn {
	display: none;
	margin: -4px 15px 0 0;
}
.naleftbtn span {
	width: 25px;
	height: 4px;
	background: #000;
	display: inline-block;
	position: relative;
}
.naleftbtn span::before {
	content: "";
	position: absolute;
	left: 0;
	top: -8px;
	width: 25px;
	height: 4px;
	background: #000;
}
.naleftbtn span::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -8px;
	width: 25px;
	height: 4px;
	background: #000;
}
.top-Ltextli li {
	display: inline-flex;
	margin: 0 5px 0 0;
}
.top-Rbox1 {
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}
.selctbox select {
	width: 200px;
	height: 32px;
	border-radius: 5px;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
}
.selctbox .btn.btn-primary {
	font-size: 13px;
	height: 32px;
	min-width: 49px;
	padding: 6px 15px;
	/* line-height: 40px; */
	margin: 0 10px 0 10px;
}
.selctbox {
	float: left;
	display: inline-flex;
}
.fright {
	float: right;
}
.top-boxL nav {
	padding: 0 5px;
}
.nav > li ul li a i {
	margin: 0 8px 0 0;
}
.nav > li ul li ul li {
	padding: 0 15px;
}
.nav > li ul li ul li {
	padding: 0 0px 0 30px;
	text-transform: capitalize !important;
}
.nav > li ul li a {
	text-transform: capitalize !important;
	margin: 0;
	font-size: 15px;
	font-weight: 400;
}
.nav-list > li ul li ul {
	margin-top: 10px;
}
.nav-list > li ul li ul li {
	margin-bottom: 6px;
}
.nav-list > li ul li ul li a {
	font-size: 14px;
}
.tablediv .table tr th {
	font-size: 15px;
	text-align: center;
	font-weight: 500;
}
.tablediv .table tr td i {
	font-size: 25px;
}
.tablediv {
	overflow-x: auto;
	height: calc(100vh - 260px);
}
.switchbtn .switch {
	position: relative;
	display: inline-block;
	width: 120px;
	height: 34px;
}
.switchbtn .switch input {
	display: none;
}
.switchbtn .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #d7d7d7;
	-webkit-transition: .4s;
	transition: .4s;
}
.switchbtn .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}
.switchbtn input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}
.switchbtn input:checked + .slider::before {
	-webkit-transform: translateX(55px);
	-ms-transform: translateX(55px);
	transform: translateX(85px);
}
/*------ ADDED CSS ---------*/
.switchbtn .on {
	display: none;
}
.switchbtn .on, .switchbtn .off {
	color: #222;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	font-size: 10px;
	font-family: Verdana, sans-serif;
}
.switchbtn input:checked+ .slider .on {
	display: block;
}
.switchbtn input:checked + .slider .off {
	display: none;
}
/*--------- END --------*/

/* Rounded sliders */
.switchbtn .slider.round {
	border-radius: 34px;
}
.switchbtn .slider.round:before {
	border-radius: 50%;
}
.switchbtn {
	display: inline-block;
}
.switchbtn label {
	margin: 0;
}
.botdiv {
	margin: 20px 0 0 0;
}
.m0 {
	margin: 0 !important;
}
.footbot {
	display: inline-block;
	width: 100%;
}
.footbot {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 3fr 1fr;
	align-items: center;
}
.footbot2 {
	width: auto;
	margin: auto;
	display: inline-flex;
	height: 40px;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	padding: 0 5px;
}
.footbot2 ul li {
	display: inline-flex;
	margin: 0 8px;
	align-items: center;
}
.footbot2 ul li a {
	display: grid;
}
.footbot2 ul li span {
	width: 22px;
	height: 22px;
	display: inline-block;
	border-radius: 100%;
}
.fo-logo {
	border-radius: 100%;
	padding: 10px;
	width: 60px;
	height: 60px;
	display: grid;
	justify-content: center;
	align-items: center;
	position: relative;
	top: -3px;
	margin: 0 15px;
}
.footbot2 ul {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.fo-logo img {
	width: 30px;
}
.footbot3 p {
	margin: 0;
	text-align: right;
	font-size: 16px;
}
.footbot1 .btn-group button {
	min-width: 150px;
	padding: 0;
	text-align: left;
	height: 40px;
	display: flex;
	align-items: center;
	background: #f1f1f1;
	border-radius: 0 20px 20px 0;
	margin-left: 15px !important;
	box-shadow: 1px 2px 3px #777;
}
.footbot1 .btn-group button span {
	width: 45px;
	height: 45px;
	display: inline-block;
	border-radius: 100%;
	position: relative;
	left: -15px;
	overflow: hidden;
}
.footbot1 .btn-group button i {
	font-size: 20px;
	margin: -1px 10px 0 7px;
}
.footbot1 .btn-group .dropdown-menu {
	top: auto;
	bottom: 100%;
}
.footbot1 .btn-group .dropdown-menu a {
	width: 100%;
	padding: 7px 15px;
	display: inline-block;
}
.footbot3 {
	text-align: right;
}
.footbot3 label {
	margin: 0;
	height: 40px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background: rgba(18, 163, 205, 0.8);
	padding: 22px 18px;
	border-radius: 10px;
	grid-column-gap: 20px;
}
.footbot3 label img {
	width: 35px;
	height: 35px;
}
.footbot3 .slidemob {
	display: none;
}
.footbot2.mobfoot {
	display: none;
}
.responsive-tabs {
	margin-top: 20px;
}
.responsive-tabs-container .tab-content {
	padding: 15px 0 35PX 0;
	border: 0;
}
.responsive-tabs-container[class*="accordion-"] .tab-pane {
	margin-bottom: 15px;
}
.responsive-tabs-container[class*="accordion-"] .accordion-link {
	display: none;
	margin-bottom: 10px;
	padding: 10px 15px;
	background-color: #f5f5f5;
	border-radius: 3px;
	border: 1px solid #ddd;
	color: #333;
	font-size: 18px;
}
.responsive-tabs-container[class*="accordion-"] .accordion-link.active {
	border-bottom: medium none;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	color: #fff;
	background: #00c8f8;
}
 @media (max-width: 767px) {
.responsive-tabs-container.accordion-xs .nav-tabs {
	display: none;
}
.responsive-tabs-container.accordion-xs .accordion-link {
	display: block;
}
.responsive-tabs-container[class*="accordion-"] .tab-pane {
	border: 1px solid #ddd;
	border-top: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-width: medium 1px 1px;
	margin-bottom: 10px;
	margin-top: -10px;
	padding: 10px 10px 0;
}
}
 @media (min-width: 768px) and (max-width: 991px) {
.responsive-tabs-container.accordion-sm .nav-tabs {
	display: none;
}
.responsive-tabs-container.accordion-sm .accordion-link {
	display: block;
}
.responsive-tabs-container[class*="accordion-"] .tab-pane {
	border: 1px solid #eee;
	border-top: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-width: medium 1px 1px;
	margin-bottom: 10px;
	margin-top: -10px;
	padding: 10px 10px 0;
}
}
 @media (min-width: 992px) and (max-width: 1199px) {
.responsive-tabs-container.accordion-md .nav-tabs {
	display: none;
}
.responsive-tabs-container.accordion-md .accordion-link {
	display: block;
}
}
 @media (min-width: 1200px) {
.responsive-tabs-container.accordion-lg .nav-tabs {
	display: none;
}
.responsive-tabs-container.accordion-lg .accordion-link {
	display: block;
}
}
.stepbox .responsive-tabs-container .nav.nav-tabs {
	display: flex;
	margin: auto;
	justify-content: space-around;
	align-items: center;
	border: 0;
	width: 99%;
}
.stepbox .responsive-tabs-container .nav.nav-tabs li > a {
	background: #f3f3f3;
	color: #000;
	padding: 7px 15px;
	font-size: 15px;
	border: 1px solid #ddd;
	margin: 0 -1px 0 0;
	border-radius: 0;
	text-align: center;
}
.stepbox .responsive-tabs-container .nav.nav-tabs li.active > a, .stepbox .responsive-tabs-container .nav.nav-tabs li a:hover {
	background: #00c8f8;
	color: #fff;
	border: 1px solid #00c8f8;
}
.stepbox .responsive-tabs-container .nav.nav-tabs li.active > a::before {
	content: "";
	border-top: 13px solid #00c8f8;
	position: absolute;
	bottom: -13px;
	left: 0;
	right: 0;
	margin: auto;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	width: 13px;
}
.stepbox .responsive-tabs-container .nav.nav-tabs li {
	margin: 0;
	width: 100%;
}
.stepbox .responsive-tabs-container .nav.nav-tabs li > a span {
	width: 22px;
	height: 22px;
	display: inline-block;
	background: #e3e3e3;
	border-radius: 100%;
	margin: 0 4px 0 0;
	color: #222;
	text-align: center;
	transition: 0.5s;
}
.stepbox .responsive-tabs-container .nav.nav-tabs li.active > a span, .stepbox .responsive-tabs-container .nav.nav-tabs li a:hover span {
	background: #fff;
	color: #00c8f8;
}
.stepbox .container {
	width: 100%;
}
.step1-in {
	display: inline-block;
	width: 100%;
}
.w-25 {
	width: 25%;
	display: inline-block
}
.w-20 {
	width: 20%;
	display: inline-block
}
.w-75 {
	width: 75%;
	display: inline-block
}
.wauto {
	width: auto !important;
}
.step1-in .form-group {
	margin-bottom: 30px;
}
.step1-in a {
	width: 100%;
}
.toc {
	font-size: 15px;
	margin: 4px 0 0 0;
	display: inline-block;
}
.step1-in .form-group {
	margin-bottom: 30px;
	position: relative;
}
.iset {
	position: absolute;
	right: 15px;
	top: 28px;
	width: auto !important;
	font-size: 18px;
	color: #404040;
}
.wlab {
	top: 2px;
}
.fa-check-circle {
	color: #72bb53;
}
.step1 .table tr td {
	text-align: center;
}
.tablediv1 {
	height: calc(100vh - 300px);
}
.stepbox .tab-content {
	height: calc(100vh - 390px);
	overflow-x: auto;
	margin-top: 20px;
}
.text-left {
	text-align: left !important;
}
.text-right {
	text-align: right !important;
}
.sele-r-right {
	border: 1px solid #ddd;
	min-height: 250px;
	border-radius: 5px;
	margin-top: 30px;
	padding: 15px;
}
.sele-r-right label {
	background: #ddd;
	padding: 5px 10px;
	font-size: 13px;
	font-weight: 500;
	border-radius: 5px;
	margin: 0 10px 10px 0;
}
.sele-r-right label a {
	margin: 0 0 0 10px;
	color: #000;
}
i.highlight::before {
	content: "\f068";/* position: absolute; */
}
.caret.highlight {
	border-top: 0;
	border-bottom: 8px solid #a2a2a2;
}
.allpop .modal-header h5 {
	font-size: 22px;
	font-weight: 600;
	text-align: center;
}
.allpop .modal-header .close {
	position: absolute;
	right: 10px;
	top: -2px;
	opacity: 1;
	margin: 0;
}
.allpop .modal-header .close span {
	font-size: 30px;
	line-height: normal;
	padding: 0;
	height: auto;
}
.allpop .modal-body {
	display: inline-block;
	width: 100%;
	padding: 15px 10px;
}
.mb10 {
	margin-bottom: 10px;
}
.mb15 {
	margin-bottom: 15px;
}
.mt10 {
	margin-top: 10px;
}
.mt15 {
	margin-top: 15px;
}
.mt20 {
	margin-top: 20px;
}
.mt25 {
	margin-top: 25px;
}
.attname {
	min-height: 150px;
}
.attname label {
	width: auto !important;
}
.midcheck {
	margin: 30px 0 0 0;
}
.basi-right {
	background: #eee;
	position: relative;
	display: grid;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
}
.basi-right p {
	color: #9d9d9d;
	font-size: 17px;
}
.basi-right label {
	position: absolute;
	right: 10px;
	background: transparent;
	margin: 0;
	top: 10px;
}
.basi-right label a {
	margin: 0 0 0 16px;
}
.basi-right label i {
	font-size: 21px;
	color: #adadad;
}
.form-group {
	position: relative;
}
.form-group label {
	font-size: 14px;
	font-weight: 500;
}
.tabcrical {
	width: 18px;
	height: 18px;
	display: inline-block;
	border-radius: 100%;
}
#view-legends .tablediv {
	overflow-x: auto;
	height: auto;
}
.top-Rbox1 .top-Rbtn .dropdown button {
	padding: 3px 3px 3px 10px;
}
.top-Rbox1 .top-Rbtn .dropdown button i {
	background: #6dcff6;
	display: inline-block;
	color: #fff;
	padding: 3px 7px;
	border-radius: 3px;
	font-size: 17px;
	margin-left: 4px;
}
.msgred {
	background: #ed145b;
	position: absolute;
	right: 0px;
	top: -2px;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	box-shadow: 1px 1px 2px #dd044b;
}
.footbot1 .btn-group button b {
	max-width: 120px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.imgemoji {
	width: 25px;
	height: 25px;
}
/*themecss 01*/
.footbot1 .btn-group .dropdown-menu a {
	border-bottom: 1px solid #eee;
	color: #222;
}
.footbot2 ul li span {
	background: #e6e6e6;
}
.footbot1 .btn-group button span {
	background: #cccccc;
}
.nav-list > li > a {
	color: #000;
}
.nav-list > li > a:hover {
	color: #014db2;
	background: transparent;
}
.nav > li ul li ul li a:hover {
	color: #04b4e4;
	font-weight: 600;
}
.top-boxL {
	background: #f1f1f1;
}
.top-boxR {
	background: #fff;
}
.btn-primary {
	color: #003748;
	background-color: #91e4fb;
	border-color: #91e4fb;
	padding: 5px 12px;
	margin: 0 0 0 10px;
	font-size: 13px;
	text-transform: uppercase;
}
.btn-primary:hover {
	background: #fff;
	color: #003748;
}
.btn-warning {
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236;
}
.btn-warning:hover {
	background: #fff;
	color: #eea236;
}
.top-Ltext h2 {
	color: #222;
}
.btn-secondary {
	background: #e6e6e6;
	border: 1px solid #e6e6e6;
	color: #2d2d2d;
	text-transform: uppercase;
	font-weight: 600;
}
.btn-secondary:hover {
	background: #fff;
	border: 1px solid #e6e6e6;
}
.selctbox select {
    border: 1px solid #555;
    background: url(../images/sele-arrow.svg) 93% 47% no-repeat #fff;
    background-size: 16px;
    text-align: center;
    text-align-last: center;
}
.selctbox .btn.btn-primary:hover {
	color: #222;
}
.tablediv .table {
	border: 1px solid #efefef;
	background: #fff;
}
.tablediv .table tr th {
	background: #e5e5e5;
	border-right: 1px solid #efefef;
	color: #000000;
}
.tablediv .table tr td {
	background: #fff;
	border-right: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	color: #000000;
	vertical-align: middle;
}
.tablediv .table tr td i.mtx {
	font-size: 22px;
	margin: 0 0 0 15px;
	color: #929292;
}
.switchbtn input:checked + .slider {
	background-color: #91e4fb;
}
.br-0 {
	background: #ff8a84 !important;
}
.br-b {
	background: #91e4fb !important;
}
.br-y {
	background: #fdc756 !important;
}
.br-g {
	background: #81fdb9 !important;
}
.br-p {
	background: #d7a6fd !important;
}
.footbot2 {
	background: rgba(18, 163, 205, 0.8);
	box-shadow: 0px 4px 8px #12a3cd;
	border: 1px solid #0293bd;
}
.fo-logo {
	border: 1px solid #f48020;
	background: #fff;
	box-shadow: 2px 1px 5px #9d9d9d;
}
.footbot3 label a {
	border-radius: 100%;
	display: grid;
	position: relative;
}
.footbot3 label a:hover, .footbot3 label a:focus {
	background: #3cbce0;
}
.footbot3 label a img {
	width: 24px;
	height: 24px;
	margin: auto;
}
select.form-control {
	border: 1px solid #ddd;
	background: url(../images/sele-arrow.svg) 97% 47% no-repeat #fff;
	background-size: 16px;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 100%;
}
.step1-in .form-group label {
	margin: 0 0 8px 0;
	font-size: 15px;
	font-weight: normal;
	width: 100%;
	display: inline-block;
}

.range-value {
	position: absolute;
	top: -10px;
}

.range-wrap input {
	margin: 20px 0;
}
.dt-buttons button span {
	padding: 2px 10px;
	height: auto;
}
.tablediv.tabledivbtn {
	height: calc(100vh - 370px);
}
.modal-body {
	display: inline-block;
	width: 100%;
}
#Emoji_msdd {
	background: #eee;
	padding: 10px 15px;
	border-radius: 4px;
	position: relative;
}
#Emoji_msdd::before {
	content: "";
	position: absolute;
	right: 15px;
	top: 15px;
	border-top: 8px solid #adadad;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
}
#Emoji_child {
	left: 0;
	background: #fff;
	width: 100%;
	margin-top: 20px;
	border: 1px solid #ddd;
	overflow-x: auto;
}
#modal-add-edit-weightage .form-group {
	margin-bottom: 20px;
}

.tablediv.tablediv1.tabledivbtn {
	height: calc(100vh - 320px);
}