﻿
@model List<UserLoginDto>
@using Aaina.Common;
@using Newtonsoft.Json;
@{
    ViewData["Title"] = "Index";
    int tenant = Convert.ToInt32(HttpContextAccessor.HttpContext.Request.RouteValues["tenant"]);
}


<script>
    function set(value) {
        return value;
    }
    var tenant = '@ViewBag.ListingStatusList' == null ? "" : set(@Html.Raw(tenant));
    var playersTypeListArr = set(@Html.Raw(JsonConvert.SerializeObject(Enum.GetValues(typeof(PlayersType)).Cast<PlayersType>().Select(c => new SelectListItem() { Text = c.ToString(), Value = ((int)c).ToString() }).ToList())));
</script>



<div class="top-Rbox1">
    <div class="top-Ltext">
        <div class="overlap"></div>
        <a href="javascript:void(0);" class="naleftbtn"><span></span></a>
        <div class="top-Ltextli">
            <ul>
                <li>Player Library</li>
            </ul>
            <p>@DateTime.Now.ToString("dd MMMM") '@DateTime.Now.Year</p>
        </div>
    </div>
    <div class="top-Rbtn">
        @if (CurrentMenuPermission.IsAdd)
        {
            <a href="/@tenant/user/Add" class="btn btn btn-primary add"><i class="fa fa-plus"></i> Add New</a>
        }
        <a href="/@tenant/Common/ShareUsers/?popupurl=/@tenant/user/Share/?id=@CurrentUser.CompanyId" class="btn btn btn-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#modal-share-users">Share</a>
        @Html.Partial("_Modal", new Modal { ID = "modal-share-users", AreaLabeledId = "modal-share-users-label", Size = ModalSize.Large })

    </div>
</div>


<div class="middlebox">
    <div class="tablediv">
        <div class='table-cont' id='table-cont'>
            @this.Html.Partial("_DataTableGrid")
        </div>
    </div>
    <div id="div_table" style="display:none">
        <style>
            .tablediv .table {
                border: 1px solid #efefef;
                background: #fff;
            }

            .table {
                width: 100%;
                max-width: 100%;
                margin-bottom: 20px;
            }

            table {
                border-collapse: collapse;
                border-spacing: 0;
            }

            tablediv .table tr th {
                background: #e5e5e5;
                border-right: 1px solid #efefef;
                color: #000000;
            }

            .tablediv .table tr th {
                font-size: 15px;
                text-align: center;
                font-weight: 500;
            }

            .table > thead > tr > th {
                vertical-align: bottom;
                border-bottom: 2px solid #ddd;
            }

            .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
                padding: 8px;
                line-height: 1.42857143;
                vertical-align: top;
                border-top: 1px solid #ddd;
            }
        </style>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Doj</th>

                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>

            <tbody>
                @if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Fname @item.Lname</td>
                            <td>@(((PlayersType)item.PlayerType ).ToString())</td>
                            <td>@item.UserName</td>
                            <td>@(item.Doj.HasValue? item.Doj.Value.ToString("dd/MM/yyyy"):"")</td>

                            <td>@(item.IsActive?"Active":"InActive")</td>

                            <td class="edit">
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">User not found</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            BindGrid(
                {
                    controller: "user",
                    actionName: "index",
                    reportName: "user",
                    tenant: tenant,
                    filter: true,
                    searching: false,
                    columns: [
                        { "data": "id", "title": "Id", "type": "int", "orderable": false, "searchable": false },
                        { "data": "fname", "title": "First Name", "type": "string", "orderable": true, "searchable": true },
                        { "data": "lname", "title": "Last Name", "type": "string", "orderable": true, "searchable": true },
                        { "data": "playerType", "title": "Type", "type": "int", "orderable": true, "searchable": true, "bind": { "ctrl": "selectlist", data: playersTypeListArr }},
                        { "data": "userName", "title": "User Name", "type": "string", "orderable": true, "searchable": true },
                        { "data": "isActive", "title": "IsActive", "type": "bool", "orderable": true, "searchable": true },

                        {
                            "data": null, "title": "Action",
                            "targets": -1,
                            "class": "column-action text-left",
                            "sClass": "text-left",
                            "shorting": false,
                            "orderable": false,
                            "mRender": function (data, type, record) {
                                var btns = '';
                                btns += "<a href='/" + tenant + "/user/Edit/" + record.id + "' title='Edit'><i class='fa fa-pencil-square-o mtx'></i></a>";

                                return btns;
                            }
                        },
                    ]

                });
        });

    </script>

}