﻿@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model List<SessionDto>
@using Aaina.Common;
@{
    ViewData["Title"] = "Index";
    int tenant = Convert.ToInt32(HttpContextAccessor.HttpContext.Request.RouteValues["tenant"]);
}


<div class="top-Rbox1">
    <div class="top-Ltext">
        <div class="overlap"></div>
        <a href="javascript:void(0);" class="naleftbtn"><span></span></a>
        <div class="top-Ltextli">
            <ul>
                <li>Session</li>
                <li>/</li>
                <li>List</li>
            </ul>

        </div>
    </div>
    <div class="top-Rbtn">
        @if (CurrentMenuPermission.IsAdd)
        {
            <a href="/@tenant/session/Add" class="btn btn btn-primary"><i class="fa fa-plus"></i> Add New</a>
        }
        <a href="/@tenant/Common/ShareUsers/?popupurl=/@tenant/session/ShareSession/?id=@CurrentUser.CompanyId" class="btn btn btn-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#modal-share-users">Share</a>
        @Html.Partial("_Modal", new Modal { ID = "modal-share-users", AreaLabeledId = "modal-share-users-label", Size = ModalSize.Large })

    </div>
</div>

<div class="middlebox">
    <div class="tablediv">
        <div class='table-cont' id='table-cont'>
            <table class="table table-striped" id="tbl_session">
                <thead>
                    <tr>
                        <th scope="col">S.No</th>
                        <th scope="col">Session Name</th>
                        <th scope="col">Game Name</th>
                        <th scope="col">session Type</th>
                        <th scope="col">Mode</th>
                        <th scope="col">Status</th>
                        <th scope="col">Start</th>
                        <th scope="col">End</th>
                        <th scope="col">Created Date</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any())
                    {
                        int i = 1;
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @i
                                </td>
                                <td>@item.Name</td>
                                <td>@item.Game</td>
                                <td>@(((SessionType)item.TypeId).ToString())</td>
                                <td>@(((SessionMode)item.ModeId).ToString())</td>
                                <td>@(item.IsActive?"Active":"In active")</td>
                                <td>@(item.SessionScheduler.StartDate.HasValue?item.SessionScheduler.StartDate.Value.ToString("dd/MM/yyyy"):string.Empty)</td>
                                <td>@(item.SessionScheduler.EndDate.HasValue?item.SessionScheduler.EndDate.Value.ToString("dd/MM/yyyy"):string.Empty)</td>
                                <td>@(item.CreatedDate.Value.ToString("dd/MM/yyyy"))</td>
                                <td>
                                    @if (CurrentMenuPermission.IsEdit)
                                    {
                                        <a href="/@tenant/session/Edit/@item.Id"><i class="fa fa-pencil-square-o mtx"></i></a>
                                    }
                                    @if (item.IsActive)
                                    {
                                        if (CurrentMenuPermission.IsDelete)
                                        {
                                            <a href="/@tenant/session/Delete/@item.Id" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#modal-action-delete-session"><i class="fa fa-trash-o mtx"></i></a>
                                        }
                                    }
                                    @if (CurrentMenuPermission.IsEdit)
                                    {
                                        <a href="/@tenant/session/Edit?copyId=@item.Id&parentId=@item.GameId"><i class="fa fa-clone mtx"></i></a>
                                    }
                                </td>
                            </tr>
                            i++;

                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="10">Session not found</td>
                        </tr>
                    }

                </tbody>

            </table>
        </div>
    </div>
    <div id="div_table" style="display:none">
        <style>
            .tablediv .table {
                border: 1px solid #efefef;
                background: #fff;
            }

            .table {
                width: 100%;
                max-width: 100%;
                margin-bottom: 20px;
            }

            table {
                border-collapse: collapse;
                border-spacing: 0;
            }

            tablediv .table tr th {
                background: #e5e5e5;
                border-right: 1px solid #efefef;
                color: #000000;
            }

            .tablediv .table tr th {
                font-size: 15px;
                text-align: center;
                font-weight: 500;
            }

            .table > thead > tr > th {
                vertical-align: bottom;
                border-bottom: 2px solid #ddd;
            }

            .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
                padding: 8px;
                line-height: 1.42857143;
                vertical-align: top;
                border-top: 1px solid #ddd;
            }
        </style>
        <table class="table table-striped">

            <thead>
                <tr>
                    <th scope="col">Session Name</th>
                    <th scope="col">Game Name</th>
                    <th scope="col">session Type</th>
                    <th scope="col">Mode</th>
                    <th scope="col">Status</th>
                    <th scope="col">Start</th>
                    <th scope="col">End</th>
                    <th scope="col">Created By</th>
                    <th scope="col">Created Date</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Game</td>
                            <td>@(((SessionType)item.TypeId).ToString())</td>
                            <td>@(((SessionMode)item.ModeId).ToString())</td>
                            <td>@(item.IsActive?"Active":"In active")</td>
                            <td>@(item.SessionScheduler.StartDate.HasValue?item.SessionScheduler.StartDate.Value.ToString("dd/MM/yyyy"):string.Empty)</td>
                            <td>@(item.SessionScheduler.EndDate.HasValue?item.SessionScheduler.EndDate.Value.ToString("dd/MM/yyyy"):string.Empty)</td>
                            <td>@(item.CreatedByStr)</td>
                            <td>@(item.CreatedDate.Value.ToString("dd/MM/yyyy"))</td>
                            <td>
                              
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="11">Session not found</td>
                    </tr>
                }

            </tbody>

        </table>
    </div>
</div>


@Html.Partial("_Modal", new Modal { ID = "modal-action-delete-session", AreaLabeledId = "modal-action-delete-session-label", Size = ModalSize.Small })

@section scripts{
    <script>
        $(function () {
            Global.DataTable('#tbl_session');

            Global.ModelHelper($("#modal-action-delete-session"), function () {
                form = new Global.FormHelper($("#modal-action-delete-session").find("form"), {
                    updateTargetId: "validation-summary",
                    refreshGrid: false,
                    modelId: 'modal-action-delete-game'
                }, null, null);

            }, null);

        });
    </script>

}