﻿@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model List<AttributeDto>
@using Aaina.Common;
@{
    ViewData["Title"] = "Index";
}


<div class="top-Rbox1">
    <div class="top-Ltext">
        <div class="overlap"></div>
        <a href="javascript:void(0);" class="naleftbtn"><span></span></a>
        <div class="top-Ltextli">
            <ul>
                <li>Attribute Library</li>
            </ul>
            <p>@DateTime.Now.ToString("dd MMMM") '@DateTime.Now.Year</p>
        </div>
    </div>
    <div class="top-Rbtn">
        <a href="/Attribute/AddEdit" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#modal-add-edit-Attribute" class="btn btn btn-primary add"><i class="fa fa-plus"></i> Add New</a>
        <a href="/Common/ShareUsers/?popupurl=/attribute/ShareAttribute/?id=@CurrentUser.CompanyId" class="btn btn btn-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#modal-share-users">Share</a>
        @Html.Partial("_Modal", new Modal { ID = "modal-share-users", AreaLabeledId = "modal-share-users-label", Size = ModalSize.Large })
    </div>
</div>

<div class="middlebox">
    <div class="tablediv">
        <div class='table-cont' id='table-cont'>
            <table class="table table-striped" id="tbl_attribute">
                <thead>
                    <tr>
                        <th scope="col">Sr. No</th>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Desciption</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any())
                    {
                        int i = 1;
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @i
                                </td>
                                <td>
                                    @item.Id
                                </td>
                                <td>
                                    @item.Name
                                </td>

                                <td>@item.Desciption</td>
                                <td>@(item.IsActive?"Active":"In Active")</td>
                                <td>
                                    <a href="/Attribute/AddEdit/@item.Id" class="edit" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#modal-add-edit-Attribute"><i class="fa fa-pencil-square-o mtx"></i></a>
                                   
                                        <a href="/Attribute/Delete/@item.Id" class="delete" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#modal-delete-Attribute"><i class="fa fa-trash-o mtx"></i> </a>
                                    
                                    <a href="/Attribute/AddEdit?copyId=@item.Id" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#modal-add-edit-Attribute"><i class="fa fa-clone mtx"></i></a>
                                </td>
                            </tr>
                            i++;

                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5">Attribute not found</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    <div id="div_table" style="display:none">
        <style>
            .tablediv .table {
                border: 1px solid #efefef;
                background: #fff;
            }

            .table {
                width: 100%;
                max-width: 100%;
                margin-bottom: 20px;
            }

            table {
                border-collapse: collapse;
                border-spacing: 0;
            }

            tablediv .table tr th {
                background: #e5e5e5;
                border-right: 1px solid #efefef;
                color: #000000;
            }

            .tablediv .table tr th {
                font-size: 15px;
                text-align: center;
                font-weight: 500;
            }

            .table > thead > tr > th {
                vertical-align: bottom;
                border-bottom: 2px solid #ddd;
            }

            .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
                padding: 8px;
                line-height: 1.42857143;
                vertical-align: top;
                border-top: 1px solid #ddd;
            }
        </style>
        <table class="table table-striped">

            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Desciption</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Name
                            </td>

                            <td>@item.Desciption</td>
                            <td>@(item.IsActive?"Active":"In Active")</td>
                            <td>
                               
                            </td>
                        </tr>

                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">Attribute not found</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>




@Html.Partial("_Modal", new Modal { ID = "modal-add-edit-Attribute", AreaLabeledId = "modal-add-edit-Attribute-label", Size = ModalSize.Medium })
@Html.Partial("_Modal", new Modal { ID = "modal-delete-Attribute", AreaLabeledId = "modal-action-delete-Attribute-label", Size = ModalSize.Small })
@section scripts{
    
    <script src="~/js/knockout-3.5.1.js" asp-append-version="true"></script>
    <script src="~/js/knockout.mapping.min.js" asp-append-version="true"></script>
    <script src="~/js/Customejs/Attribute/AddEdit.js" asp-append-version="true"></script>

}
